body {
    background: url("/img/fundo.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover; /* SAFARI / CHROME */
    -moz-background-size: cover; /* FIREFOX */
    -ms-background-size: cover; /* IE */
    -o-background-size: cover; /* OPERA */
}

.form-control{
    border-radius: 0px;
    margin: 12px 3px;
    height: 40px;
}

.loginAvatar{
    width: 100px;
    height: 100px;
}

.logo{
    margin: auto;
    text-align: center;
}

.logo img{
    height: 70px;
}

/*footer*/ 
.footer a{
    color: #fff;
    text-decoration: none;
}

.footer{
    color: #fff;
    text-align: center;
}
/*footer end*/ 

.grayBody{
    background-color: #E9E9E9;
}

.loginbox{
    margin-top: 5%;
    border-top: 6px solid #0088D8;
    background-color:#fff;
    padding: 20px;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);
    border-radius: 5px;    
}

.singtext{    
    font-size: 20px;  
    color: #0088D8;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 4px;
}

.submitButton{
    background-color: #0088D8;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 10px 0px;
    width: 100%;
    margin-left: 2px;
    font-size: 16px;
    border-radius: 0px;
    outline: none;
    border-radius: 5px;    
}

.submitButton:hover .submitButton:focus{
    color: #fff;  
    outline: none;
}

.boxRodapeCadastro {
    margin-bottom: 20px;
}

.boxFormCadastro {
    
}